<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="exchange-server-host" value="localhost" />
    <add key="exchange-server-port" value="11000" />
    <add key="exchange-monitor-refresh-period" value="3000" />
    <add key="connection-string" value="Data Source=.\SQLEXPRESS;Initial Catalog=Exchange;Integrated Security=SSPI" />
  </appSettings>
</configuration>